.profile {
    padding: 16px;
    background-color: #caddee;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap
    flex-wrap: wrap;
}

.side {
  -ms-flex: 30%;
  flex: 30%
  background-color: #f1f1f1;
  padding: 20px;
}

.vl {
  border-left: 4px solid #292f7d;
  height:700px;
}
.main {
  -ms-flex: 70%;
  flex: 70%;
  background-color: #caddee;
  padding: 20px;
}
.main p{
  font-size: 16px;
}

hr {
  border: 2px solid #292f7d;
  margin-bottom: 25px;
}

