.reviews {
    padding: 16px;
    background-color: #caddee;
    text-align: center;
}

.review {
  margin: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 50%;
  padding: 20px;
  background-color: #8ab2d5;
  display: inline-block;
  margin: 15px;
}

.container {
  padding: 2px 16px;
}

#times {
  float: left;
}

.hr {
  border: 1px solid #4CAF50;
 }

.poster {
  float: left;
  margin-right: 15px;
}

.comment {
  text-align: left;
}

.button {
  background-color: #4CAF50;
  color: white;               /* letter color */
  font-size: 12px;
  padding: 10px 24px;         /* size of button */
  border-radius: 2px;         /* shape of button */
  margin: 5px;
}

.button:hover {
  background-color: #228B22;
  color: black;
  /* border: 2px solid #4CAF50; */
}