.seats {
    padding: 16px;
    background-color: #caddee;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap
    flex-wrap: wrap;
    text-align: center;
}

.side {
    -ms-flex: 30%;
    flex: 30%
    background-color: #f1f1f1;
    padding: 20px;
}

.vl {
    border-left: 4px solid #292f7d;
    height:600px;
}
.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: #caddee;
    padding: 20px;
}
.main p{
    font-size: 16px;
    text-align: center;
}

hr {
    border: 2px solid #292f7d;
    margin-bottom: 25px;
}


h1 {
    text-align: center;
}

.button:hover {
    background-color: #228B22;
    color: black;
    /* border: 2px solid #4CAF50; */
}

.button:disabled {
  background-color: #C0C0C0;
}

/* center the buttons */
.button-block {
    width: 100%;
    text-align: center;
}

.button {
    background-color: #4CAF50;
    color: white;               /* letter color */
    font-size: 12px;
    padding: 10px 24px;         /* size of button */
    border-radius: 2px;         /* shape of button */
}