body {
    margin: 5%;
    text-align: center;
}

h1 {
    text-align: center;
}

.table {
}

.seat-table {
    width: 70%;
}

.seat-header-id {
    font-weight: bold;
    width: 20%;
}

.seat-header {
    font-weight: bold;
    width: 40%;
}

.seat-data {
    width: 40%;
}

.seat-data-id {
    width: 20%;
}