<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <head th:replace="fragments/header :: common-header">
    <title>Cart</title>
  </head>

  <body>
    <div th:replace="fragments/header :: header"></div>
    <link href="/css/preorder.css" rel="stylesheet">

    <form action="#" th:action="@{/cart}" th:object="${total}" method="post">
    <h1 align="center">CART</h1>

    <div class="table-div">
      <table class="table cart-table">
        <tr>
          <th class="food-header-id" colspan="2">Items</th>
          <th class="food-header-id">Quantity</th>
          <th class="food-header-id">Price</th>
        </tr>

        <tr th:if="${not #lists.isEmpty(tickets)}" th:each="t : ${tickets}">
          <td colspan="2" th:text="${t.seat.theater.movieID.name + '  ' + t.seat.theater.date + '  ' + t.seat.theater.time + '  SEAT ' + t.seat.seatNumber}"></td>
          <td type="number" th:text="1" onload="calculate()"></td>
          <td type="number" th:text="${#numbers.formatDecimal(t.seat.seatType.price,1,2,'POINT')}"></td>

        </tr>

        <tr th:if="${not #lists.isEmpty(prefood)}" th:each="f : ${prefood}">
          <td colspan="2" th:text="${f.key.item} + '  ' + ${f.key.size} "></td>
          <td type="number" th:text="${f.value}"></td>
          <td type="number" th:text="${#numbers.formatDecimal(f.key.price,1,2,'POINT')}"></td>
        </tr>

        <tr th:if="${not #lists.isEmpty(predrink)}" th:each="d : ${predrink}">
          <td colspan="2" th:text="${d.key.item} + '  ' + ${d.key.size} "></td>
          <td type="number" th:text="${d.value}"></td>
          <td type="number" th:text="${#numbers.formatDecimal(d.key.price,1,2,'POINT')}"></td>
        </tr>

        <tr th:if="${not #lists.isEmpty(prealcohol)}" th:each="al : ${prealcohol}">
          <td colspan="2" th:text="${al.key.type}"></td>
          <td type="number" th:text="${al.value}" onload="calculate()"></td>
          <td type="number" th:text="${#numbers.formatDecimal(al.key.price,1,2,'POINT')}"></td>
        </tr>

      </table>
    </div>

    <br>
    <span class="total">
      <b>TOTAL</b><br>
      <b><span th:text="${#numbers.formatDecimal(total,1,2,'POINT')}"></span></b>
    </span>
    <br>

    <br>
    <div class="button-block">
            <button class="button" type="submit">CHECKOUT</button>
    </div>
    </form>

    <div>
      <form action="#" th:action="@{/emptycart}" method="post">
        <button class="button">Empty Cart</button>
      </form>
    </div>


    <br>
    <div th:replace="fragments/footer :: footer"></div>

  </body>
</html>
