<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragments/header :: common-header">
        <title>Purchase History</title>
    </head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <link rel="stylesheet" href="css/historystyle.css">

    <h1>Purchase History</h1>
    <hr>


    <div th:if="${$ph}">

        <div th:each="entry : ${ph}">

            <h2 th:text="${entry.date}"></h2>

            <table class="table-div">
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Additional Info</th>
                </tr>

                <div th:each="line : ${ph.lines}">
                    <tr>
                        <div th:each="val : ${line}">
                            <td th:text="${val}"></td>
                        </div>
                    </tr>



                </div>

            </table>
        </div>
    </div>

    <div th:unless="${$ph}">
        <h3 style="margin-left: 15px">Your history is empty.</h3>
        <p style="margin-left: 15px">This page will fill up as you make purchases.</p>
    </div>
    <br>
    <br>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>