<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: common-header">
    <title>Seats</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<link rel="stylesheet" href="/css/moviesstyles.css">

<div class="movies">
    <div class="date">
        <h1>Date: 04-13-2019</h1>
        <span style="padding: 10px;">
            <input type="date" name="date">
        </span>
    </div><br>

    <div class="card" th:each="movie : ${movies}">
        <div class="poster"><img th:src="@{${'/images/' + movie.value[0].movieID.image}}" th:alt="movie.value[0].movieID.name"></div>
        <div class="container">
            <h2 th:text="${movie.key}"><b></b></h2>
            <p th:text="${movie.value[0].movieID.rating}"></p>
            <p th:text="${movie.value[0].movieID.runtime} + ' minutes'"></p>
            <p th:text="${movie.value[0].movieID.genre}"></p>
            <form action="#" th:action="@{${'/reviews/movie/' + movie.value[0].movieID.id}}">
                <button class="button" type="submit">Info</button>
            </form><br>
            <span id="times" th:each="theater : ${movie.value}">
                <form action="#" th:action="@{${'/theater/' + theater.id + '/seats'}}">
                    <button class="button" type="submit" th:text="${theater.time} + ' ' + ${theater.theaterType.type}"></button>
                </form>
            </span>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>