<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <!-- <head th:replace="fragments/header :: common-header"> -->
      <title>Preorder Form</title>
  </head>

  <body>
    <!-- <div th:replace="fragments/header :: header"></div> -->

    <link href="/css/ticket-booth-preorder.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/preorder.js}" src="/js/preorder.js"></script>

    <form action="#" th:action="@{/preorder-snacks-beverage/form}" th:object="${item}" method="post">

      <h1 align="center">MAKE PRE-ORDERS TO YOUR SEAT</h1>

      <div th:if="${not #lists.isEmpty(food)}">
        <h2>Food</h2>
        <table class="table food-table">

          <tr>
            <th class="food-header-id">Item</th>
            <th class="food-header-id">Size</th>
            <th class="food-header-id">Price per item</th>
            <th class="food-header-id">Quantity</th>
          </tr>

          <tr th:each="f : ${food}">
            <td class="food-data-id" th:text="${f.item}"></td>
            <td class="food-data" th:text="${f.size}"></td>
            <td class="food-data" th:text="${f.price}"></td>
            <td class="food-quantity"><input type="number" name="quantity" value="0" th:field="*{foodQuantity}" placeholder="e.g. 1"></td>
            <span th:if="${#fields.hasErrors('foodQuantity')}" th:errors="*{foodQuantity}">Invalid number</span>
          </tr>

        </table>
      </div>

      <div th:if="${not #lists.isEmpty(drinks)}">
        <h2>Drinks</h2>
        <table class="table drink-table">

          <tr>
            <th class="drink-header-id">Item</th>
            <th class="drink-header-id">Size</th>
            <th class="drink-header-id">Price per item</th>
            <th class="drink-header-id">Quantity</th>
          </tr>

          <tr th:each="d : ${drinks}">
            <td class="drink-data-id" th:text="${d.item}"></td>
            <td class="drink-data" th:text="${d.size}"></td>
            <td class="drink-data" th:text="${d.price}"></td>
            <td class="drink-quantity"><input type="number" name="quantity" value="0"></td>
          </tr>

        </table>
      </div>

      <div th:if="${not #lists.isEmpty(alcohol)}">
        <h2>Alcohol (Must be to 21+ to select)</h2>
        <table class="table alcohol-table">

          <tr>
            <th class="alcohol-header-id">Type</th>
            <th class="alcohol-header-id">Price per item</th>
            <th class="alcohol-header-id">Quantity</th>
          </tr>

          <tr th:each="al : ${alcohol}">
            <td class="alcohol-data" th:text="${al.type}"></td>
            <td class="alcohol-data" th:text="${al.price}"></td>
            <td class="alcohol-quantity"><input type="number" name="quantity" value="0"></td>
          </tr>

        </table>
      </div>

      <br>
      <div class="button-block">
              <button class="button" type="submit">Add to Cart</button> <button class="button" onclick="skipPage()" id="skip-button">SKIP</button>
      </div>
      <br>

    </form>


    <!-- <div th:replace="fragments/footer :: footer"></div> -->

  </body>
</html>
