<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/header :: common-header">
        <title>Seats</title>
    </head>

    <body>

        <div th:replace="fragments/header :: header"></div>
        <link rel="stylesheet" href="/css/seatstyle.css">
        <div class="seats">
            <div class="side">
                <div style="float: left;">
                    <span>
                        <img src="../static/images/handicap.ico" th:src="@{/images/handicap.ico}" alt="handicap">
                    </span>
                    <span>Handicap</span>
                </div>
                <br>
                <div style="float: left;">
                    <span>
                        <img src="../static/images/standard.ico" th:src="@{/images/standard.ico}" alt="standard">
                    </span>
                    <span>Standard</span>
                </div>
                <br>
                <div style="float: left;">
                    <span>
                        <img src="../static/images/recliner.ico" th:src="@{/images/recliner.ico}" alt="recliner">
                    </span>
                    <span>Recliner</span>
                </div>
                <br>
                <div style="float: left;">
                    <span>
                        <img src="../static/images/loveseat.ico" th:src="@{/images/loveseat.ico}" alt="loveseat">
                    </span>
                    <span>Loveseat</span>
                </div>
                <br>
                <div style="float: left;">
                    <span>
                        <img src="../static/images/unavailable.ico" th:src="@{/images/unavailable.ico}" alt="unavailable">
                    </span>
                    <span>Taken</span>
                </div>
            </div>

            <div class="vl"></div>

            <div class="main">
                <form action="#" th:action="@{/seats}" th:object="${userSeats}"  method="post">
                    <div>
                        <h3 th:text="${date}" style="padding: 10px; display: inline;"/>
                        <h3 th:text="${time}" style="padding: 10px; display: inline;"/>
                        <h3 th:text="${theaterType}" style="padding: 10px; display: inline;"/>
                    </div>
                    <br>
                    <br>
                    <h1 th:text="${movieName}" />
                    <div th:if="${not #lists.isEmpty(seats)}">
                        <h2>Screen</h2>
                        <!--Handicap Seats-->
                        <span th:each="seat : ${seats}">
                            <span th:switch="${seat.seatType.type}">
                                <span th:case="'Handicap'" style="padding: 10px;">
                                    <span th:switch="${seat.availability}">
                                        <span th:case="'Available'">
                                            <input type="checkbox" th:id="${seat.id}" th:field="*{selectedSeats}" th:value="${seat.id}"/>
                                            <label th:for="${seat.id}" ><img src="../static/images/handicap.ico" th:src="@{/images/handicap.ico}" alt="handicap"></label>
                                        </span>
                                        <span th:case="*">
                                            <input type="checkbox" disabled th:id="${seat.id}" />
                                            <label th:for="${seat.id}"><img src="../static/images/unavailable.ico" th:src="@{/images/unavailable.ico}" alt="unavailable"></label>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                        <br>
                        <br>
                        <br>
                        <!--Standard Seats-->
                        <span th:each="seat : ${seats}">
                            <span th:switch="${seat.seatType.type}">
                                <span th:case="'Standard'" style="padding: 10px;">
                                    <span th:switch="${seat.availability}">
                                        <span th:case="'Available'">
                                            <input type="checkbox" th:id="${seat.id}" th:field="*{selectedSeats}" th:value="${seat.id}"/>
                                            <label th:for="${seat.id}"><img src="../static/images/standard.ico" th:src="@{/images/standard.ico}" alt="standard"></label>
                                        </span>
                                        <span th:case="*">
                                            <input type="checkbox" disabled th:id="${seat.id}" />
                                            <label th:for="${seat.id}"><img src="../static/images/unavailable.ico" th:src="@{/images/unavailable.ico}" alt="unavailable"></label>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                        <br>
                        <br>
                        <br>
                        <!--Recliner Seats-->
                        <span th:each="seat : ${seats}">
                            <span th:switch="${seat.seatType.type}">
                                <span th:case="'Recliner'" style="padding: 10px;">
                                    <span th:switch="${seat.availability}">
                                        <span th:case="'Available'">
                                            <input type="checkbox" th:id="${seat.id}" th:field="*{selectedSeats}" th:value="${seat.id}"/>
                                            <label th:for="${seat.id}"><img src="../static/images/recliner.ico" th:src="@{/images/recliner.ico}" alt="recliner"></label>
                                        </span>
                                        <span th:case="*">
                                            <input type="checkbox" disabled th:id="${seat.id}" />
                                            <label th:for="${seat.id}"><img src="../static/images/unavailable.ico" th:src="@{/images/unavailable.ico}" alt="unavailable"></label>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                        <br>
                        <br>
                        <br>
                        <!--Loveseat Seats-->
                        <span th:each="seat : ${seats}">
                            <span th:switch="${seat.seatType.type}">
                                <span th:case="'Loveseat'" style="padding: 10px;">
                                    <span th:switch="${seat.availability}">
                                        <span th:case="'Available'">
                                            <input type="checkbox" th:id="${seat.id}" th:field="*{selectedSeats}" th:value="${seat.id}"/>
                                            <label th:for="${seat.id}"><img src="../static/images/loveseat.ico" th:src="@{/images/loveseat.ico}" alt="loveseat"></label>
                                        </span>
                                        <span th:case="*">
                                            <input type="checkbox" disabled th:id="${seat.id}" />
                                            <label th:for="${seat.id}"><img src="../static/images/unavailable.ico" th:src="@{/images/unavailable.ico}" alt="unavailable"></label>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="button-block">
                        <button class="button" type="submit" name="submit">Add to Cart</button>
                    </div>
                </form>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>
